<header class="navbar navbar-expand-lg w-100 mb-4">
  <div class="container-fluid">
    <h2 class="navbar-brand fw-bold me-5">Assignment</h2>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            All Courses
            <span class="material-symbols-outlined align-bottom link-success">
              keyboard_arrow_down
            </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="ms-auto">
        <button type="button" class="btn">
          <span class="material-symbols-outlined align-bottom">
            search
          </span>
        </button>
        <button type="button" class="btn">
          <span class="material-symbols-outlined align-bottom">
            notifications_active
          </span>
        </button>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>