.custom-button {
  span {
    color: $success;
  }
  :hover span {
    color: $white; /* hover 時的文字顏色 */
  }
  :active,.active span {
    color: $white;
  }
  :focus span {
    color: $white;
  }
}

.collapsed .open {
  display: inline-block;
}
.open {
  display: none;
}
.collapsed .close {
  display: none;
}
.close {
  display: inline-block;
}