<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
  <%- include('./layout/navbar', {page: 'assignment' }); -%>

    <main class="content px-3">
      <div class="container">
        <div class="row gy-3">
          <%- include('./layout/header'); -%>
            <section class="d-flex justify-content-between mb-2">
              
              <div class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  All (4)
                  <span class="material-symbols-outlined align-bottom link-success">
                    keyboard_arrow_down
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>


              <div>
                <p class="text-secondary">2 comments</p>
              </div>
            </section>
            <section class="col-lg-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                  href="#list-home" role="tab" aria-controls="list-home">
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <small class="mb-1">Chapter Assignment 2</small>
                    <small class="">3 days ago</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-1 fw-bold">Please check this file…</h5>
                    <small class="text-secondary">Emily Wang</small>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                  href="#list-profile" role="tab" aria-controls="list-profile">
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <small class="mb-1">Chapter Assignment 1</small>
                    <small class="">12 hrs ago</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-1 fw-bold">My Homework</h5>
                    <small class="text-secondary">David Xu</small>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                  href="#list-messages" role="tab" aria-controls="list-messages">
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <small class="mb-1">Final Assignment</small>
                    <small class="">18 hrs ago</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-1 fw-bold">Have a problem with this…</h5>
                    <small class="text-secondary">Tony Wei</small>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                  href="#list-settings" role="tab" aria-controls="list-settings">
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <small class="mb-1">Final Assignment</small>
                    <small class="">19 hrs ago</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-1 fw-bold">Did I do it right?</h5>
                    <small class="text-secondary">Christina Lin</small>
                  </div>
                </a>
              </div>
            </section>
            <section class="col-lg-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <%- include('./layout/replyCard'); -%>
                </div>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                  <%- include('./layout/replyCard'); -%>
                </div>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                  <%- include('./layout/replyCard'); -%>
                </div>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                  <%- include('./layout/replyCard'); -%>
                </div>
              </div>
              <!-- Reply -->
              <div class="mt-3 d-flex position-relative mb-5 flex-column flex-md-row justify-content-md-between">
                <div class="d-flex justify-content-between">
                  <button type="button" class="me-md-4 btn">
                    <span class="material-symbols-outlined align-bottom">
                      chevron_left
                    </span>
                  </button>
                  <button type="button" class="btn">
                    <span class="material-symbols-outlined align-bottom">
                      chevron_right
                    </span>
                  </button>
                </div>
                <div class="d-grid gap-2 d-md-block">
                  <button type="button" class="btn btn-outline-success me-md-3 ms-md-auto">Mark as read</button>
                  <button type="button" class="btn btn-success" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Reply
                  </button>
                </div>
                <!-- 要設定collapse方向，須在外層下relative，內層下absolute -->
                <div class="collapse position-absolute bottom-0 end-0 w-100" id="collapseExample">
                  <div class="card">
                    <div class="card-header">
                      <div>
                        <button type="button" class="btn"><span class="fw-bold me-2">Body Text</span><span
                            class="material-symbols-outlined align-bottom">
                            arrow_drop_down
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            format_bold
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            format_italic
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            format_list_bulleted
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            format_list_numbered
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            image
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            link
                          </span></button>
                        <button type="button" class="btn"><span class="material-symbols-outlined align-bottom">
                            arrows_outward
                          </span></button>
                      </div>
                    </div>
                    <div class="card-body" style="height: 203px;">
                      <p class="text-gray ">Reply an answer…</p>
                    </div>
                    <div class="d-flex justify-content-end mb-2 me-2">
                      <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Cancel
                      </button>
                      <button type="button" class="btn btn-success" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Reply
                      </button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        </section>

      </div>
      </div>
    </main>

    <script type="module" src="../main.js"></script>
</body>

</html>